.App {
  margin: 10px;
}

.button {
  display: flex;
  color: white;
  font-size: 14;
  border: 1px solid #282c34;
  background-color: #282c34;
  border-radius: 5px;
  padding: 15px;
}

.checkbox {
  transform: scale(1.5);
  margin-right: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-container {
  width: 600px;
}

.list-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.list-title {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.text-input {
  display: flex;
  font-size: 14pt;
  margin-right: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
